# Archivos de entorno virtual
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.pytest_cache/

# Archivos de entorno (contienen secretos)
.env
*.env

# Archivos de base de datos local
*.db
*.sqlite3

# Logs
*.log

# Archivos de IDE (ej. VS Code)
.vscode/

# Archivos de sistema operativo
.DS_Store # macOS
Thumbs.db # Windows

# Cobertura de tests
.coverage